/* 메뉴바 */
* {
    font-family: 'Poppins', sans-serif;
}
/* 컨테이너 */
.container {
    width: 1440px;
    margin: 0 auto;
}

#wrap { margin: 0 auto;
}
/* 메뉴부분 */
#header {
    width: 1440px;
    height: 100px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 100px;
}
#header .logo {
    display: inline-block;
    display: flex;
    margin-top: 20px;
}
#header .logo .pik {
    background-image: url(../img/logo1.jpg);
    width: 35px;
    height: 35px;
}
#header .logo a {
    margin-left: 10px;
    font-size: 30px;
    line-height: 1;
}
#header .menu {
    margin-top: 20px;
    display: inline-block;
    display: flex;
    margin-right: 200px;
    
}
#header .menu a {
    font-size: 17px;
    margin: 0 25px;
    font-weight: 600;
}

#header .my {
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 20px;
}
#header .my div:nth-child(1) {
    background-image: url(../img/icon1.jpg);
    width: 24px;
    height: 24px;
    margin-right: 25px;
}
#header .my div:nth-child(2) {
    background-image: url(../img/icon2.jpg);
    width: 24px;
    height: 24px;
    margin-right: 25px;
}
#header .my div:nth-child(3) {
    background-image: url(../img/icon3.jpg);
    width: 24px;
    height: 24px;
}
/* 배너부분 */
#banner {
    width: 100%;
    height: 853px;
    position: relative;
    margin: 0 auto;

}
#banner .banner_imgtxt {
    background-image: url(../img/shopa.jpg);
    background-repeat: no-repeat;
    background-position:right 20% top 50%;
    width: 100%;
    height: 853px;
}
#banner .banner_imgtxt .container .desc {

}
#banner .banner_imgtxt .container .desc h4 {
    font-family: 'Poppins';
    font-size: 80px;
    line-height: 1;
    font-weight: 600;
}
#banner .banner_imgtxt .container .desc p {
    margin-top: 55px;
    font-size: 18px;
}
#banner .banner_imgtxt .container .desc strong {
    position: absolute;
    left: 40%;
    bottom: 10%;
    
}
#banner .banner_imgtxt .desc div {

}
#banner .banner_imgtxt .desc div a {

}
.banner_imgtxt .btn {
    margin-top: 70px;
}
.banner_imgtxt .btn .btn1 {
    width: 202px;
    height: 70px;
    background: #c4a586;
    color: #fff;
    padding: 20px 35px;
    margin-right: 26px;
}
.banner_imgtxt .btn .btn2 {
    width: 202px;
    height: 70px;
    background: #fff;
    color: #c4a586;
    padding: 20px 50px;
    border: 1px solid #c4a586;
}

/* 중간 기업로고 */
#centerlogo {
    width: 1440px;
    height: 126px;
    margin: 0 auto;
}
#centerlogo .clogo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#centerlogo .clogo .clogo1 {
    background-image: url(../img/clogo1\(96x47\).jpg);
    width: 96px;
    height: 47px;
}
#centerlogo .clogo .clogo2 {
    background-image: url(../img/clogo2\(109x38\).jpg);
    width: 109px;
    height: 38px;
}
#centerlogo .clogo .clogo3 {
    background-image: url(../img/clogo3\(147x61\).jpg);
    width: 147px;
    height: 61px;
}
#centerlogo .clogo .clogo4 {
    background-image: url(../img/clogo4\(110x32\).jpg);
    width: 110px;
    height: 32px;
}
#centerlogo .clogo .clogo5 {
    background-image: url(../img/clogo5\(97x28\).jpg);
    width: 97px;
    height: 28px;
}
#centerlogo .clogo .clogo6 {
    background-image: url(../img/clogo6\(122x24\).jpg);
    width: 122px;
    height: 24px;
}

/* 중간 텍스트이미지 */
#text_image1 {
    width: 1440px;
    height: 388px;
    margin: 0 auto;
    display: flex;
}
#text_image1 .timage1 {
    width: 720px;
    height: 388px;
    background: #FCEFE9;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
#text_image1 .timage1 .image1{
    background-image: url(../img/centerimage1.png);
    width: 348px;
    height: 388px;
}
#text_image1 .timage1 .image1 h4 {
    position: absolute;
    left: 101px;
    top: 110px;
    font-size: 34px;
    font-family: 'Poppins';
}
#text_image1 .timage1 .image1 p {
    position: absolute;
    left: 101px;
    top: 289px;
    font-size: 20px;
    font-family: 'Poppins';
}
#text_image1 .timage2 {
    width: 720px;
    height: 388px;
    background: #FAE2C8;
    position: relative;
    display: flex;
    justify-content: flex-end;

}
#text_image1 .timage2 .image2{
    background-image: url(../img/centerimage2.png);
    width: 404px;
    height: 388px;   
}
#text_image1 .timage2 .image2 h4 {
    position: absolute;
    left: 101px;
    top: 110px;
    font-size: 34px;
    font-family: 'Poppins';
}
#text_image1 .timage2 .image2 p {
    position: absolute;
    left: 101px;
    top: 289px;
    font-size: 20px;
    font-family: 'Poppins';
}

/* 카드이미지 */
#cardimage1 {
    width: 1052px;
    height: 1124px;
    margin: 0 auto;
    margin-top: 173px;
}
#cardimage1 .header {
    display: flex;
    justify-content: space-between;
}

#cardimage1 .menu {
    width: 421px;
    height: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 111px;
}