@font-face {
    font-family: 'NeoDunggeunmo';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/neodgm/NeoDunggeunmo.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/neodgm/NeoDunggeunmo.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/neodgm/NeoDunggeunmo.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/neodgm/NeoDunggeunmo.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/neodgm/NeoDunggeunmo.ttf') format("truetype");        
    font-display: swap;
}
@font-face {
    font-family: 'LABDigital';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.ttf') format("truetype");
    font-display: swap;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    cursor: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'LABDigital';
}
a {
    cursor: none;
}
#header {
width: 100%;
height: 40px;
background: #111;
/* background-image: linear-gradient(to top, #000 0%, #005F0F 100%); */
display: flex;
justify-content: space-between;
}
#clock {
    margin-top: 10px;
    margin-right: 10px;
    color: #0DFD35;
    font-size: 22px;
    
}
.logo {
    font-size: 25px;
    margin-left: 5px;
    line-height: 1.5;
    color: #0DFD35;    
}

.icon_wrap {
    margin-top: 2rem;
    margin-left: 2rem;
}

.icon_inner {
    display: flex;
    
}

.btn1,
.btn2,
.btn3,
.btn4 {
    margin: 0 20px;
}

.btn1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn1 img, 
.btn2 img, 
.btn3 img,
.btn4 img 
{
    width: 50px;
    height: 50px;    
    text-align: center;      
    
}


.btn1, 
.btn2,
.btn3,
.btn4{
    text-align: center;
}
.btn1 p,
.btn2 p,
.btn3 p,
.btn4 p
{
    font-size: 20px;
    text-align: center;
    background: #000;
    background-color: #000;
    color: #0DFD35;
}

.musicbox {
    position: absolute;
    right: 1%;
    bottom: -600px;
    opacity: 0;
    width: 380px;
    height: 587px;    
    transition: all 0.5s;
}
.musicbox.show {
    bottom:150px;
    opacity: 1;
}

iframe {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.cursor {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 50px;
    user-select: none;
    pointer-events: none;   
}
.typinggmae {
    position: absolute;
    left: 13%;
    width: 1250px;
    height: 520px;
    opacity: 0;
    bottom: -70%;
    transition: all 0.5s;
}
.typinggmae.show {
    bottom: 10%;
    opacity: 1;
}
.memorygame {
  position: absolute;
  left: 0;
  top: 0;
  bottom: -500%;
  right: 0;
  margin: auto;
  width: 600px;
  height: 600px;
  border-radius: 30px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 6px 10px 0 rgba(0,0,0,0.17);
  transition: all 0.5s;
  opacity: 0;
}
.memorygame.show {
    bottom: 5%;
    opacity: 1;
}
.reactsite {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;    
    background: #000;   
    transform: scale(0);     
    z-index: 100;
}
.reactsite.open {          
    transform: scale(1); 
}

.reactsite p {
    color: #0DFD35;    
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size:60px;
    position: relative;    
}
.reactsite p::before,
.reactsite p::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content:attr(data-text);       
}
.reactsite p::before {
    color: purple;
    z-index: -1;
    animation: zizic 0.3s ease infinite;
}
.reactsite p::before {
    color: cyan;
    z-index: -2;
    animation: zizic2 0.3s ease infinite reverse;
}
@keyframes zizic {
    0% {
        transform: translate(-1px, 1px);
    }
    25% {
        transform: translate(-2px, 2px);
    }
    50% {
        transform: translate(1px, 1px);
    }
    75% {
        transform: translate(1px, -2px);
    }
    100% {
        transform: translate(-1px, 1px);
    }
}
@keyframes zizic2 {
    0% {
        transform: translate(-1px, 1px);
    }
    25% {
        transform: translate(-2px, 2px);
    }
    50% {
        transform: translate(1px, 1px);
    }
    75% {
        transform: translate(1px, -2px);
    }
    100% {
        transform: translate(-1px, 1px);
    }
}
.reactsite a {
    position: absolute;
    color: #0DFD35;
    background-image: linear-gradient(to top, #000 0%, #005F0F 100%);
    font-size: 30px;
    padding: 10px 40px;
    bottom: 40%;
    left: 30%;
    text-decoration: none;
    transition: all 0.5s;
}
.reactsite div {
    position: absolute;
    color: #0DFD35;
    background-image: linear-gradient(to top, #000 0%, #005F0F 100%);
    font-size: 30px;
    padding: 10px 40px;
    bottom: 40%;
    left: 60%;
    transition: all 0.5s;
}
.reactsite a:hover,
.reactsite div:hover {
    background-image: linear-gradient(to top, #000 0%, #2DBB47 50%, #005F0F 100%);
}

@keyframes reactopen {

}
