@font-face {
    font-family: 'NeoDunggeunmo';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/neodgm/NeoDunggeunmo.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/neodgm/NeoDunggeunmo.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/neodgm/NeoDunggeunmo.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/neodgm/NeoDunggeunmo.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/neodgm/NeoDunggeunmo.ttf') format("truetype");        
    font-display: swap;
}
@font-face {
    font-family: 'LABDigital';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.ttf') format("truetype");
    font-display: swap;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    cursor: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'LABDigital';
}
a {
    cursor: none;
}
#header {
width: 100%;
height: 40px;
background: #111;
/* background-image: linear-gradient(to top, #000 0%, #005F0F 100%); */
display: flex;
justify-content: space-between;
}
#clock {
    margin-top: 10px;
    margin-right: 10px;
    color: #0DFD35;
    font-size: 22px;
    
}
.logo {
    font-size: 25px;
    margin-left: 5px;
    line-height: 1.5;
    color: #0DFD35;    
}

.icon_wrap {
    margin-top: 2rem;
    margin-left: 2rem;
}

.icon_inner {
    display: flex;
    
}

.btn1,
.btn2,
.btn3,
.btn4,
.btn5,
.btn6 {
    margin: 0 20px;
}

.btn1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn1 img, 
.btn2 img, 
.btn3 img,
.btn4 img,
.btn5 img,
.btn6 img 
{
    width: 50px;
    height: 50px;    
    text-align: center;      
    
}


.btn1, 
.btn2,
.btn3,
.btn4,
.btn5,
.btn6 {
    text-align: center;
}
.btn1 p,
.btn2 p,
.btn3 p,
.btn4 p,
.btn5 p,
.btn6 p
{
    font-size: 20px;
    text-align: center;
    background: #000;
    background-color: #000;
    color: #0DFD35;
}

.musicbox {
    position: absolute;
    right: 1%;
    bottom: -600px;
    opacity: 0;
    width: 380px;
    height: 587px;    
    transition: all 0.5s;
}
.musicbox.show {
    bottom:150px;
    opacity: 1;
}

iframe {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.cursor {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 50px;
    user-select: none;
    pointer-events: none;   
}
.typinggmae {
    position: absolute;
    left: 13%;
    width: 1250px;
    height: 520px;
    opacity: 0;
    bottom: -70%;
    transition: all 0.5s;
}
.typinggmae.show {
    bottom: 10%;
    opacity: 1;
}
.memorygame {
  position: absolute;
  left: 0;
  top: 0;
  bottom: -500%;
  right: 0;
  margin: auto;
  width: 600px;
  height: 600px;
  border-radius: 30px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 6px 10px 0 rgba(0,0,0,0.17);
  transition: all 0.5s;
  opacity: 0;
}
.memorygame.show {
    bottom: 5%;
    opacity: 1;
}
.reactsite {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;    
    background: #000;   
    transform: scale(0);     
    z-index: 100;
}
.reactsite.open {          
    transform: scale(1); 
}

.reactsite p {
    color: #0DFD35;    
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size:60px;
    position: relative;    
}
.reactsite p::before,
.reactsite p::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content:attr(data-text);       
}
.reactsite p::before {
    color: purple;
    z-index: -1;
    animation: zizic 0.3s ease infinite;
}
.reactsite p::before {
    color: cyan;
    z-index: -2;
    animation: zizic2 0.3s ease infinite reverse;
}
@keyframes zizic {
    0% {
        transform: translate(-1px, 1px);
    }
    25% {
        transform: translate(-2px, 2px);
    }
    50% {
        transform: translate(1px, 1px);
    }
    75% {
        transform: translate(1px, -2px);
    }
    100% {
        transform: translate(-1px, 1px);
    }
}
@keyframes zizic2 {
    0% {
        transform: translate(-1px, 1px);
    }
    25% {
        transform: translate(-2px, 2px);
    }
    50% {
        transform: translate(1px, 1px);
    }
    75% {
        transform: translate(1px, -2px);
    }
    100% {
        transform: translate(-1px, 1px);
    }
}
.reactsite a {
    position: absolute;
    color: #0DFD35;
    background-image: linear-gradient(to top, #000 0%, #005F0F 100%);
    font-size: 30px;
    padding: 10px 40px;
    bottom: 40%;
    left: 30%;
    text-decoration: none;
    transition: all 0.5s;
}
.reactsite div {
    position: absolute;
    color: #0DFD35;
    background-image: linear-gradient(to top, #000 0%, #005F0F 100%);
    font-size: 30px;
    padding: 10px 40px;
    bottom: 40%;
    left: 60%;
    transition: all 0.5s;
}
.reactsite a:hover,
.reactsite div:hover {
    background-image: linear-gradient(to top, #000 0%, #2DBB47 50%, #005F0F 100%);
}

@keyframes reactopen {

}

.figmasite.active h2 {
    text-transform: capitalize;
    white-space: nowrap;
    color: transparent;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.figmasite.active h2::before {
    content :"피그마 작업 페이지로 이동할까요?";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #0DFD35;    
    overflow: hidden;
    border-right: 3px solid #0DFD35;
    animation: typing 2s 1.5s steps(18) forwards;
    transform: scale(0);
}
@keyframes typing {
    0% {
        width: 0;  
        transform: scale(1);      
    }
    100% {
        width: 100%;
        transform: scale(1); 
    }
    
}
.figmasite {
    width: 500px;
    height: 300px;
    background: #000;
    border-radius: 50px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    top: 40%;       
}
.figmasite.active {
    animation: figmaopen 1.5s ease;
    animation-fill-mode:forwards;
    z-index: 50;
}
@keyframes figmaopen {
    0% {transform: translate(-50%, -50%) scaleX(0.005) scaleY(0.005);}
    50% {transform: translate(-50%, -50%) scaleX(1) scaleY(0.005);}
    100% {transform: translate(-50%, -50%) scaleX(1) scaleY(1);}
}

.figmasite.active .figmayes {
    text-transform: capitalize;
    white-space: nowrap;
    color: transparent;
    margin: 0;
    position: absolute;
    top: 65%;
    left: 25%;
    transform: translate(-50%, -50%);  
    font-size: 26px;  
}
.figmasite.active .figmayes::before {
    content :"네";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #0DFD35;  
    padding: 5px 30px;
    background: #05AA19;
    border: 1px solid #0DFD35;  
    border-radius: 5px;  
    overflow: hidden;    
    animation: typing2 0.3s 3.6s steps(18) forwards;
    transform: scale(0);
}
@keyframes typing2 {
    0% {
        width: 0;  
        transform: scale(1);      
    }
    100% {
        width: 100%;
        transform: scale(1); 
    }
}
.figmasite.active .figmano {
    text-transform: capitalize;
    white-space: nowrap;
    color: transparent;
    margin: 0;
    position: absolute;
    top: 65%;
    left: 70%;
    transform: translate(-50%, -50%);   
    font-size: 26px;     
}
.figmasite.active .figmano::before {
    content :"네니요";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #0DFD35;    
    overflow: hidden;  
    padding: 5px 12px;
    background: #05AA19;
    border: 1px solid #0DFD35;
    border-radius: 5px;  
    animation: typing2 0.3s 4.0s steps(18) forwards;
    transform: scale(0);
}

.figmasite.active .figmano:hover::before,
.figmasite.active .figmayes:hover::before {
    background: #005F0F;   
}

.poweroff1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    display: inline;    
    position: absolute;
    left: -20%;
    z-index: 10;
    top: 30%; 
    transition: all 0.5s;
    transform: scale(0);   
}
.poweroff1.active {
    transform: scale(1); 
    left: 1%;  
}
.poweroff2{
    display: flex;
    flex-direction: column;
    text-align: center;
    display: inline;    
    position: absolute;
    left: -20%;
    z-index: 10;
    top: 45%;  
    transition: all 0.5s;
    transform: scale(0);  
}
.poweroff2.active {
    transform: scale(1); 
    left: 1%;  
}
.poweroff3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    display: inline;    
    position: absolute;
    left: -20%;
    z-index: 10;
    top: 60%; 
    transition: all 0.5s;
    transform: scale(0);   
}
.poweroff3.active {
    transform: scale(1);   
    left: 1%;
}

.poweroff1 img, 
.poweroff2 img, 
.poweroff3 img {
    width: 80px;
    height: 80px;
}
.poweroff1 p, 
.poweroff2 p,
.poweroff3 p {
    text-align: center;
    color: #05AA19;
    background: #000;
    font-size: 20px;
    padding: 2px 5px;
}
.poweroff1:hover,
.poweroff2:hover,
.poweroff3:hover {
    
}